# Virtual Environment
venv/
.venv/
env/

# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Environment variables & secrets
.env
secret.txt

# Operating System files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/